/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Catamaran:wght@400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap';

$primary: #BD4C85 !default;

$link-color: #B94366;

$font-family-sans-serif: Raleway !default; 

/*-- scss:rules --*/

.navbar-brand
{
  font-family: 'Poppins', serif;
  font-size: 25px !important;
}

.title
{
  font-family: 'Poppins', serif;
  font-size: 32px !important;
}
